*{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}
.header{
    background-image:url("https://raw.githubusercontent.com/ROCKY-BANG/Art-Website/main/art-attack-vector-logo-free-download-11573980904pirqo6pene-removebg-preview%20(1).png");
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    background-size: contain;
    background-position: center;
}
/* Nav bar styling */
.nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    position: fixed;
    top:0px;
    z-index: 1000;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
}
.nav2>a{
    display: flex;
    position: relative;
    float: right;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.nav2>a:hover{
    text-decoration: underline;
    color: rgb(20, 163, 220);
    text-shadow: 1px 1px 1px 2px 2px rgba(255, 0, 0, 0.205);
}
.nav1{
    font-family: 'Birthstone', cursive;
    font-size: 30px;
}


/* Gallery Section */
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(to bottom right,rgba(99, 245, 42, 0.808),rgba(243, 243, 45, 0.849)); */
}
.one{
    width:70vw;
}
.box2,.box1{
    display: flex;
    align-items: center;
}
.two{
    width:45vw;    
}
img{
    padding: 10px;
}
/* About artist section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
/* Profile pic styling */
.profile{
    width: 25vw;
    border-radius: 60%;
}
.bio{
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 5px;
    margin: 0% 3%;
    padding: 2%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.459);
    color: whitesmoke;

}
body{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    
}
h2{
    text-decoration: underline;
}
/* footer section */
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
}
.links{
    display: flex;
    padding: 1%;
    flex-direction: column;
}
.links a{
    margin: 1%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.links a:hover{
    text-decoration: underline;
}

#email,#feedback{
     width: 100%;
     border: 1px solid rgba(0, 0, 0, 0.459);
     background-color: rgba(0, 0, 0, 0.459);
     border-radius: 5px;
     margin: 1%;
     padding: 1%;
}
#submit{
     border: 1px solid rgba(0, 0, 0, 0.459);
     background-color: rgba(0, 0, 0, 0.459);
     border-radius: 5px;
     margin: 1%;
     padding: 1%;
     color: white;
}
.submit{
    display: flex;
    justify-content: center;
}

#submit:hover{
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.582);
    color: rgb(0, 162, 255);
}

input{
    height: 5vh;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
  }

.contact2{
    width:35vw;
}
@media all and (max-width:550px){
    .contact{
        flex-direction: column-reverse;
    }
    .contact2{
        width: 90vw;
    }
    .nav2{
        display: flex;
        flex-direction: column-reverse;
    }
}

#brush{
    position: relative;
    color: yellow;
    animation: bru 5s none 0s infinite;
}

#coffee{
    font-size: 30px;
    color: black;
}
.coffee{
    position: fixed;
    bottom: 5px;
    left: 95%;
}

@keyframes bru{
    0%{
        color: chartreuse;  
    }
     25%{
         color: rgba(0, 255, 255, 0.925);
    }
    50%{
        color: rgba(139, 0, 139, 0.623);
    }
    75%{
        color: rgba(255, 105, 180, 0.986);
    }
    100%{ 
        color: gold;  
    } 
}
